* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.background {
    background-color: #8de68e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 500px;
    position: relative;
    overflow: hidden;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/mnt/data/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 1;
    animation: rotate 20s linear infinite; /* Animação para rotação das imagens */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center;
    width: 90%;
}

h2 {
    font-family: 'Cursive', sans-serif;
    color: #4CAF50;
    margin-bottom: 20px;
}

.search-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"] {
    width: 32%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* A tabela agora ocupa 70vw da largura da tela */
.sales-table {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 70vw; /* A tabela ocupa 70% da largura da janela */
}

.sales-header, .sales-row {
    display: grid;
    grid-template-columns: 10% 15% 25% 15% 15% 10% 10%; /* Proporções das colunas */
    gap: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.sales-header {
    font-weight: bold;
    background-color: #e0e0e0;
}

.sales-row span {
    text-align: left;
}

.sales-row {
    background-color: white;
}

.sales-row:hover {
    background-color: #f1f1f1;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

.action-btn {
    background-color: #4CAF50;
    color: white;
}

.cancel-btn {
    background-color: #FF7043;
    color: white;
}

button:hover {
   opacity: 0.9;
}
